<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5560385c-2f00-4201-b6d3-528a3ca3c855/resourceGroups/szte/providers/Microsoft.Web/sites/IMDBAdatabazisok</ResourceId>
    <ResourceGroup>szte</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://imdbadatabazisok.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>imdbadatabazisok.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IMDBAdatabazisok</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IMDBAdatabazisok</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>